<form class="example-form" class="buscar">
  <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput #message maxlength="256" placeholder="">
      <mat-hint align="start">
          <strong>Ingrese el Id del planeta</strong>
      </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 2</mat-hint>
  </mat-form-field>
  <section>
      <div class="example-button-row">
          <button mat-flat-button (click)="buscarPlaneta($event)">Buscar</button>
      </div>
  </section>
</form>

<mat-card class="example-card" appearance="outlined" class="buscar">
  <mat-card-header>
      <mat-card-title>{{planet?.name}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image *ngIf="planet?.image" [src]="planet?.image" alt="{{planet?.name}}">

  <mat-card-content>

      <p>Id: {{planet?.id}}</p>
      <p>Name: {{planet?.name}}</p>
      <p>isDestroyed: {{planet?.isDestroyed}}</p>
      <p>Description: {{planet?.description}}</p>
      <p *ngIf="getCharacters().length === 0">No getTransformations</p>
      <div *ngFor="let character of getCharacters()">
          <p>Id: {{character.id}}</p>
          <p>Name: {{character.name}}</p>
          <p>MaxKi: {{character.maxKi}}</p>
          <p>Race: {{character.race}}</p>
          <img [src]="character.image" alt="{{character.name}}" style="width: 100px; height: auto;">
      </div>

  </mat-card-content>
</mat-card>
