<mat-card class="example-card" appearance="outlined" class="buscar">
  <mat-card-header>
      <mat-card-title>{{planet?.name}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image *ngIf="planet?.image" [src]="planet?.image" alt="{{planet?.name}}">

  <mat-card-content>

      <p>Id: {{planet?.id}}</p>
      <p>Name: {{planet?.name}}</p>
      <p>isDestroyed: {{planet?.isDestroyed}}</p>
      <p>Description: {{planet?.description}}</p>
      <h1>Personajes</h1>
      <p *ngIf="getCharacters().length === 0">No getTransformations</p>
      <div *ngFor="let character of getCharacters()">
          <p>Id: {{character.id}}</p>
          <p>Name: {{character.name}}</p>
          <p>MaxKi: {{character.maxKi}}</p>
          <p>Race: {{character.race}}</p>
          <img [src]="character.image" alt="{{character.name}}" style="width: 100px; height: auto;">
      </div>

  </mat-card-content>
</mat-card>
